
.bara_stanga
{
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(150, 154, 158); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}
.bara_stanga a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #191a19;
    display: block;
    text-align:center;
}
.bara_stanga a:hover {
    color: #a7f713;
}
.bara_sus
{
    height: 120px;
    width: 100%;
    position: relative;
    top: 0;
    right: 0px;
    padding-bottom: 20px;
    border-bottom: 15px;
}
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}